* {
    box-sizing: border-box;
    padding: 0;
    border: 0;

}

html{
    scroll-behavior: smooth;
}


body {
    font-size: 16px;
    font-family: 'Inter Tight', sans-serif;
    background-color: whitesmoke;
    padding: 0px;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
}



/*barra de navegacion*/
.nav-main {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100px;
    padding: 2px 20px;
    background-color: #2F2E2F;
}

/*Logo*/
.nav-main img {
    height: 60%;
    width: auto;
    display: flex;
    margin-left: 1em;
    padding: 5px;
}

.nav-brand {
    height: 120px;
    cursor: pointer;
}

.nav-main ul {
    display: flex;
}

.nav-main ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav-menu li {
    height: 25px;
    margin-right: 4px;
    cursor: pointer;
    transition: all 0.3s;
    background-color: #929392;
    width: 135px;
    font-size: 18px;
}

.nav-menu li:hover {
    background-color: #64BFB0;
}

li.ico {
    width: 68px;
}

.nav-main li a {
    font-size: 12px;
}

.nav-main li .icon {
    color: #EA4F51;
    font-size: 16px;
}

;



/*Animacion barra de navegacion*/


/*Boton hamburger oculto*/
.menu-btn {
    top: 16px;
    right: 30px;
    z-index: 2;
    font-size: 1.6rem;
    font-size: 16px;
    color: whitesmoke;


}

.menu-btn i {
    display: none;
}

/* Presentacion */
.presentacion {
    height: 575px;
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    font-family: 'Bebas Neue', cursive;
}

.presentacion .col1presentacion {
    width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 90px;
    margin-top: 90px;
    height: 500px;

}

.presentacion .col1presentacion h1 {
    font-size: 48px;
    
}

/* Boton */
.presentacion .col1presentacion .texto button {
    border: none;
    color: white;
    background-color: #64BFB0;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.5s;
    cursor: pointer;

}

.presentacion.col2presentacion {
    height: 300px;

}

.presentacion .col2presentacion .img img {
    height: 600px;
    transform: translateX(-180px);
    margin-top: -15px;


}

.presentacion .col2presentacion .fondo {

    height: 300px;
    border-left: 220px solid transparent;
    border-bottom: 600px solid #DEE1E6;
    z-index: 1;
}

/* Servicios */
.servicios {
    height: 600px;
    width: 100%;
    background-color: #151A28;
}

.servicios .fil1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    display: flex;
    justify-content: center;
    padding: 6em;
    z-index: 10;
    margin-top: 25px;

}

.servicios .fil1 .cuadrado {
    height: 260px;
    width: 280px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5%;
    color: white;
    padding: 1em;
    margin: 1em;

}

.servicios .fil1 .cuadrado .textcuadrado {
    margin-left: 1.5em;
}

.servicios .fil1 .cuadrado h3 {
    margin-bottom: 1em;

    color: #64BFB0;
}

.servicios .fil1 .cuadrado p {
    margin-bottom: 1em;

}

.servicios .fil1 .cuadrado .circulo {
    border-radius: 50%;
    background-color: #64BFB0;
    height: 40px;
    width: 40px;
    display: grid;
    align-items: center;
    margin-top: 1em;



}

.servicios .fil1 .cuadrado i {
    width: 60px;
    color: whitesmoke;
    padding: 5px;
    transform: translateX(5px);


}

.servicios .fil2 {
    display: flex;
    text-align: center;
    justify-content: center;
    color: whitesmoke;
    transform: translateY(-50px);
}

/* Consulta */
.consulta {
    height: 280px;
    width: 100%;
    background-color: white;
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-family: 'Bebas Neue', cursive;
}

.consulta p {
    transform: translateY(-30px);
}

.consulta .col1consulta {
    display: grid;
    align-items: center;
    justify-content: center;
}

.consulta .recconsulta {
    height: 65px;
    width: 320px;
    background-color: #64BFB0;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 24px;

}

.consulta .recconsulta:hover {
    background-color: black;
    transition: all 1s;
}

/* Que ofrecemos */
.fondo2 {
    height: 180px;
    background-color: #0E1621;
    color: whitesmoke;
}

.fondo2 .textofrecemos {
    display: grid;
    padding-left: 15%;
}

.fondo2 h1 {
    font-family: 'Bebas Neue', cursive;
    transform: translateY(30px);

}

.fondo2 p {
    font-family: 'Bebas Neue', cursive;
}

/* Recuadros */
.recuadros {
    height: 700px;
    width: 100%;
    background-color: #1E2738;
}



.recuadrocuadrado {
    padding: 1em;
}

.iconimg {
    height: 50px;
    width: auto;
    transform: translateY(15px);
}

.recuadrocuadrado .cuadradoserv {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.recuadrocuadrado .cuadradoserv h4 {
    transform: translateY(10px);

}

.recuadros .fila1container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6em;
    gap: 3em;
}

.recuadros .fila2container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em;
    gap: 3em;
}

.recuadros .recuadrocuadrado {
    height: 225px;
    width: 225px;
    background-color: #DEE1E6;
    border-radius: 5%;
}

.recuadros .recuadrocuadrado:hover {

    background-color: #f8fbff;
    transition: all 0.5s;
}

/* Recuadro Inferior */
.cuadroinferior {
    height: 195px;
    background-color: #151A28;
    color: whitesmoke;
    transform: translateY(-20px);
}

.cuadroinferior .fila1recuadro {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 10em;
    font-family: 'Bebas Neue', cursive;
}

.cuadroinferior .fila1recuadro h1 {
    transform: translateY(25px);
}

/* recuadro estadisticas */
.recestadisticas {
    height: 500px;
    background-color: white;
    color: black;
    font-size: 20px;
    display: grid;
    grid-template-columns: 30% 70%;
}


.recestadisticas .col1estadisticas p {
    margin-left: 35%;
    margin-top: 4em;
    font-size: 16px;
}


.imgestadisticas {
    height: 700px;
    transform: translateX(500);
    transform: translateY(-180px);
}

/*Formulario  */
.recformulario {
    height: 570px;
    width: 100%;
    background-color: #151A28;
    display: flex;
    justify-content: center;
    padding: 2em;
}

.recformulario .col1formulario {
    padding: 4em;
    font-size: 10px;
    color: whitesmoke;
    transform: translateX(-5%);


}

.recformulario .col1formulario .form {
    padding: 1em;
    transform: translateY(-20px);

}

.recformulario .col1formulario .imput {
    height: 30px;

    background-color: #1E2738;
    border-bottom: #DEE1E6 solid 1px;


}

.recformulario .col1formulario label {
    font-size: 14px;

}

.recformulario .col1formulario .mensaje {
    padding-top: 10px;
    height: 20px;
    background-color: #1E2738;
    border-bottom: #DEE1E6 solid 1px;



}


.recformulario .col2formulario {
    padding: 4em;
    display: flex;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
}

.recformulario .col1formulario .boxformulario {
    width: 370px;
    height: 450px;
    background-color: #1E2738;
    border-radius: 5%;
    padding-top: 2em;


}

.recformulario .col2formulario .textcontacto .icontext {
    display: flex;
    align-items: center;
}



.recformulario .col2formulario .textcontacto .icontext i {
    font-size: 48px;
    padding-right: 10px;
    color: #64BFB0;
}

.form {
    display: flex;
    flex-direction: column;
}

.recformulario .col1formulario .boxformulario {
    font-size: 20px;
}

.recformulario .col1formulario .boxformulario .submit {
    color: whitesmoke;
    background-color: #35B087;
    width: 50%;
    font-size: 20px;
    margin-top: 2em;
    border: none;
    transform: translateY(-30px);
}


/* footer */
.footer {
    height: 370px;
    background-color: #2F2E2F;
}

.footer .fila1foot {
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: space-around;
}

.footer .fila1foot .seccion {
    display: flex;
    gap: 4em;
}

.footer .fila1foot .seccion h4 {
    text-decoration: underline;
    color: whitesmoke;
    padding-bottom: 2px;
}

.footer .fila1foot .seccion div {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.footer .fila1foot img {
    height: 50px;
}

.footer .fila2foot {
    display: flex;
    justify-content: left;
    padding-left: 10%;
    transform: translateY(-10px);

}

.footer .fila2foot h2 {
    transform: translateY(10px);
    color: whitesmoke;
}

hr {
    width: 80%;
    height: 1px;
    background-color: whitesmoke;
    border: 10px;

}

.footer .fila3foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

.footer .fila3foot .redes {
    color: #35B087;
    font-size: 20px;
}

.footer .fila3foot .redes span {
    padding: 5px;
}



.footer .fila3foot .ubicacion {
    color: whitesmoke;
    font-size: 16px;

}


/* Pagina Apps */
.introduccion {
    height: 350px;
    width: 100%;
    font-family: 'Bebas Neue', cursive;
    display: grid;
    grid-template-columns: 50% 50%;

}

.marcointroduccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5em;
    padding-left: 40%;
}

.fondoapps {

    border-left: 200px solid transparent;
    border-bottom: 950px solid #DEE1E6;
    z-index: 1;
}

/* cuadrados web */

.recuadrosweb {
    height: 500px;
    transform: translateY(0px);
}

.recuadroweb .circuloweb {
    display: none;
    width: 105px;
    height: 105px;
    border-radius: 50%;
    background-color: rgba(254, 248, 248, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(15px);

}

.recuadrosweb .fila1web {
    display: flex;
    justify-content: center;

}

.cuadradoweb {
    height: 215px;
    width: 215px;
    background-color: #3A3A44;
    color: whitesmoke;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cuadradoweb:hover {
    background-color: #63686B;
    transition: all 0.5s;
}

.cuadradoweb p {
    text-align: center;
    color: #64BFB0;

}

.cuadradoweb h5 {
    transform: translateY(25px);
    text-align: center;

}

.cuadradoweb .iconweb {
    height: 70px;
    width: auto;
    transform: translateY(20px);
}

/* planes de pagopagina app */

.planes {
    font-family: 'Bebas Neue', cursive;
    height: 400px;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    background-color: #DEE1E6;
    padding-top: -2em;
    transform: translateY(70px);

}

.planes .fila1planes {
    padding-left: 20%;
    height: 50%;
    transform: translateY(-25px);

}

.pconsulta {
    height: 50px;
    width: 300px;
    background-color: #64BFB0;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 24px;
}

.pconsulta:hover {

    background-color: black;
    color: whitesmoke;
    transition: all 0.5s;
}

.planes .fila2planes {
    display: flex;
    padding-top: 5%;
    padding-left: 20%;
    align-items: center;
    background-color: #929392;
    height: 200px;
    padding-bottom: 5%;
    color: whitesmoke;


}


.planes .fila2planes .col2planes {
    padding-left: 30%;
}


/* Pagina de pagos */


.pagos {
    height: 450px;
    display: grid;
    grid-template-columns: 35% 65%;
    font-family: 'Bebas Neue', cursive;
}



.col2pagos img {
    height: 50px;
}

.pagos .col1pagos {
    display: flex;
    justify-content: center;
    width: 100%;
}

.pagos .col1pagos .marcopagos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 6em;
    margin-left: 30%;
    width: 300px;
}

.pagos .col2pagos {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 2em;
}

.pagos .fondopagos {
    width: 100%;
    height: 350px;
    border-left: 200px solid transparent;
    border-bottom: 450px solid #DEE1E6;
    z-index: 1;
}

.marcoformapagos {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    transform: translateY(250px);
    gap: 1em;

}

/* transferencias */
.transferencias {
    height: 180px;
    background-color: #151A28;
    z-index: 10;
    display: flex;
    justify-content: flex-start;

    padding-left: 10%;
    color: whitesmoke;
}

/* Responsive */
@media (max-width: 950px) {
    .body {
        width: 100%;
    }

    .conteiner {
        width: 100%;

    }

    .nav-main {
        width: 100%;
    }

    /* Logo */
    .nav-main img {
        height: 50%;
        margin-left: 0px;
        padding: 0px 15px 10px 5px;
    }

    .nav-main .nav-menu {
        display: none;
    }

    /* Boton btn */

    .nav-main .nav-menu {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: whitesmoke;
        height: 100%;
        padding: 30px 0px;
        opacity: 0.9;
        margin: 0px;
        width: 200px;
        z-index: 999;
        transition: all 0.5s;
        left: -250px;
    }

    .menu-btn i {
        background-color: #2F2E2F;
        border-bottom: none;
    }

    .nav-main .nav-menu li {
        width: 200px;
        height: 50px;
        background-color: #0E1621;
        border-bottom: #19222f solid 1px;
    }

    .nav-main ul.nav-menu.show {
        left: 0px;
        transition: all 1s;
    }

    .nav-main .hamburger-btn i:hover {
        background-color: #64BFB0;
    }

    .nav-main .nav-menu ul {
        background-color: #151A28;
        height: 50px;
        border-bottom: 1px solid black;

    }

    .nav-main li a {
        color: white;
        font-size: 14px;

    }

    .nav-main ul li:hover {
        background-color: #64BFB0;
        color: black;
    }

    .nav-main ul li a:hover {
        color: #63686B;
    }


    .menu-btn i {
        display: block;
        color: whitesmoke;
        padding: 0.5em;
    }

    /* Presentacion */
    .presentacion {
        height: 850px;
        width: 100%;
        grid-template-columns: 1fr;
    }

    .presentacion .col1presentacion {
        width: 300px;
        height: 280px;
        margin-left: 25px;
        padding-inline-start: 1em;
        margin-top: 60px;
    }

    .presentacion .col1presentacion h1 {
        font-size: 36px;
    }

    .presentacion.col2presentacion {
        width: 300px;
        height: 300px;

    }

    .presentacion .col2presentacion .fondo {

        height: 400px;
        width: 370px;
        border-left: 150px solid transparent;
        border-bottom: 450px solid #DEE1E6;
        z-index: 1;
    }

    .presentacion .col2presentacion .img img {
        height: 350px;
        transform: translateX(-150px);
        margin-top: 50px;
    }

    /* Servicios */
    .servicios {
        height: 1150px;
    }

    .servicios .fil1 {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .servicios .fil2 {
        text-align: center;
        padding: 0em 2em 0em 2em;
    }

    .servicios .fil2 h2 {
        font-size: 20px;
    }

    .servicios .fil1 .cuadrado {
        height: 240px;
        width: 240px;
        border-radius: 3%;

    }

    .servicios .fil1 .cuadrado .textcuadrado {
        margin-left: 1em;
    }

    .servicios .fil1 .cuadrado h3 {
        margin-bottom: 0.5em;
        font-size: 16px;

    }

    .servicios .fil1 .cuadrado p {
        margin-bottom: 0.5em;
        font-size: 14px;

    }

    .servicios .fil1 .cuadrado .circulo {

        height: 40px;
        width: 40px;
        display: grid;
        align-items: center;
        justify-content: center;
        margin-top: 0.3em;



    }

    .servicios .fil1 .cuadrado i {
        width: 60px;
        color: whitesmoke;
        padding: 5px;
        transform: translateX(15px);


    }

    /* Consulta */

    .consulta {
        height: 280px;
        display: flex;
        flex-direction: column;
    }

    .consulta .col1consulta {
        padding-top: 1.5em;
    }

    .consulta p {
        transform: translateY(-30px);
        display: flex;
        justify-content: center;
    }

    .consulta .recconsulta {
        height: 50px;
        width: 280px;
        font-size: 18px;
    }

    /* Que ofrecemos */
    .fondo2 {
        height: 220px;
    }

    .fondo2 .textofrecemos {
        padding-left: 10%;
    }

    .fondo2 .textofrecemos h1 {
        font-size: 32px;
    }

    .fondo2 p {
        padding-right: 10%;
    }

    /* Cuadrados */
    .recuadros {
        height: 650px;
        grid-template-columns: 50% 50%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-top: 3em;
        gap: 1px;

    }

    .recuadros .fila1container {


        flex-direction: column;
        padding-top: 1em;
        gap: 0;

    }

    .recuadros .fila2container {

        display: flex;
        flex-direction: column;
        padding-top: 1em;
        padding-left: 10px;
        padding-right: 0;
        gap: 0;

    }

    .recuadros .recuadrocuadrado {
        height: 160px;
        width: 150px;
        border-radius: 3%;
        padding-bottom: 10px;
        margin-bottom: 10px;
        padding-left: 8px;
        padding-right: 8px;
    }

    .iconimg {
        height: 45px;
        width: auto;
        transform: translateY(-3px);
    }


    .recuadros .recuadrocuadrado h4 {
        font-size: 14px;
        transform: translateY(-10px);
    }

    .recuadros .recuadrocuadrado p {
        font-size: 11px;
        transform: translateY(-25px);
    }

    /* Cuadrado Inferior */
    .cuadroinferior {
        height: 170px;
    }

    .cuadroinferior .fila1recuadro {
        padding-left: 2em;
    }

    .cuadroinferior .fila1recuadro h1 {
        font-size: 30px;
    }

    /* Recuadro Estadisticas */
    .recestadisticas {
        height: 700px;
        font-size: 16px;
        display: flex;
        flex-direction: column;
    }

    .recestadisticas .col1estadisticas p {
        margin-left: 12%;
        margin-right: 12%;
        margin-top: 12%;
        font-size: 16px;
    }

    .imgestadisticas {
        height: 350px;
        transform: translateX(70px);
        transform: translateY(-20px);
    }

    /*Formulario  */
    .recformulario {
        height: 950px;
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
    }

    .recformulario .col1formulario {
        transform: translateX(0);
    }


    .recformulario .col2formulario {
        padding: 2em;
        transform: translateY();
        font-size: 14px;

    }

    .recformulario .col1formulario .boxformulario {
        width: 300px;
        height: 450px;
        border-radius: 3%;
        padding-top: 1em;
        padding-left: 0;
    }

    /* Footer */

    .footer {
        height: 450px;
        transform: translateY(-200px);
    }

    .footer .fila1foot {
        flex-direction: column;
        padding-top: 8em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer .fila1foot img {
        height: 40px;
        transform: translateY(-45px);

    }

    .footer .fila1foot .seccion {
        gap: 1em;
        font-size: 12px;
    }

    .footer .fila2foot {
        transform: translateY();
        padding-top: 3em;
    }

    .footer .fila2foot h2 {
        font-size: 18px;
    }

    .footer hr {
        transform: translateY(-10px);
    }

    .footer .fila3foot {
        transform: translateY(-30px);
    }

    .footer .fila3foot h4 {
        font-size: 14px;
    }

    /* Pagina app.html - Introduccion*/
    .introduccion {
        display: flex;
        flex-direction: column;

    }

    .marcointroduccion {
        padding-top: 5em;
        padding-left: 12%;
        padding-right: 10%;
    }

    .marcointroduccion h1 {
        font-size: 26px;
    }

    /* Recuadros Web */

    .recuadrosweb {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 0%;
        padding-right: 0%;
        height: 480px;
        transform: translateY(55px);

    }

    .recuadrosweb .fila1web {
        display: flex;
        flex-direction: column;
        transform: translateY(-50px);
        padding-right: 0%;
    }

    .cuadradoweb {
        height: 150px;
        width: 150px;
        border-radius: 3%;

    }

    .fila1web .recuadrocuadrado {
        padding: 5px;
    }

    .recuadrosweb .circuloweb {
        height: 80px;
        width: auto;
        border-radius: 50%;
        transform: translateY();

    }

    .cuadradoweb:hover {
        height: 150px;
        width: 150px;
        background-color: #63686B;
        transition: all 0.5s;
    }

    .cuadradoweb .iconweb {
        height: 40px;
        width: auto;
    }

    .cuadradoweb p {
        padding: 0%;
        font-size: 12px;


    }

    .cuadradoweb h5 {
        font-size: 14px;

    }

    /* planes de pagopagina app */

    .planes {

        display: flex;

        padding-top: 5%;
        background-color: #DEE1E6;
        padding-top: -2em;
        transform: translateY(70px);

    }

    .planes {

        display: flex;
        flex-direction: column;
        padding-top: 60px;
        background-color: #DEE1E6;
        padding-top: -2em;
        transform: translateY(70px);

    }

    .planes .fila1planes {
        padding-left: 12%;
        padding-right: 10%;
        align-items: flex-start;
        justify-content: flex-start;



    }

    .planes .fila1planes h1 {
        font-size: 24px;
    }

    .planes .fila2planes {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 10%;

    }

    .planes .fila2planes {
        padding-left: 0%;

    }


    .planes .fila2planes .col2planes {
        padding-left: 0%;
    }

    .pconsulta {
        height: 40px;
        width: 250px;
        background-color: #64BFB0;
        border-radius: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: whitesmoke;
        font-size: 18px;
    }

    /* Pagina de Pagos */
    .pagos {

        grid-template-columns: 1fr;
        height: 600px;
        align-items:center;
        justify-content: center;
       
              
    }

    .pagos .col1pagos {
        
        display: flex;
        justify-content:center;
        align-items:flex-start;
        width: 100%;
        height: 400px;
    }

    .pagos .col1pagos .marcopagos {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 5em;
        margin-left: 25%;
        margin-right: 5px;       
        
    }
    
    .pagos .col1pagos .marcopagos p{
        padding-right: 10%;
    }

    .pagos .fondopagos {
        width: 100%;
        height: 350px;
        border-left: 100px solid transparent;
        border-bottom: 350px solid #DEE1E6;
        z-index: 1;
    }

    .marcoformapagos {
       flex-direction: column;
       align-items: flex-end;
       padding-right: 25%;
       padding-top: 25%;
       justify-content: center;
       transform:translateY(0px)
    
    }

    .transferencias {
        transform: translateY(150px);
        height: 200px;
        padding-top: 5px;
       
    }

    .transferencias .fila1transferencias{
        padding-top: 2em;
    }

    .transferencias .fila1transferencias h1{
        font-size: 20px;
    }

    .transferencias .fila1transferencias p{
        font-size: 14px;
    }

    .footer{
        transform: translateY(150px);
    }
       
   






}