* {
    box-sizing: border-box;
    padding: 0px;
    border: 0;

}

.header {

    background-color: #0E1621;
    height: 3vh;


}

body {
    font-size: 16px;
    font-family: 'Inter Tight', sans-serif;
    background-color: whitesmoke;
    padding: 0px;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
}



/*barra de navegacion*/
.nav-main {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100px;
    padding: 2px 20px;
    background-color: #0E1621;
}

/*Logo*/
.nav-main img {
    height: 80%;
    width: auto;
    display: flex;
    margin-left: 1em;
}

.nav-brand {
    height: 120px;
    cursor: pointer;
}

.nav-main ul {
    display: flex;
}

.nav-main ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav-menu li {
    height: 25px;
    margin-right: 4px;
    cursor: pointer;
    transition: all 0, 3s;
    background-color: #929392;
    width: 135px;
    font-size: 18px;
}

.nav-menu li:hover {
    background-color: #22B6D5;
}

li.ico {
    width: 68px;
}

.nav-main li a {
    font-size: 12px;
}

.nav-main li .icon {
    color: #EA4F51;
    font-size: 16px;
}

;



/*Animacion barra de navegacion*/


/*Boton hamburger oculto*/
.menu-btn {
    top: 16px;
    right: 30px;
    z-index: 2;
    font-size: 1.6rem;
    font-size: 16px;
    color: whitesmoke;


}

.menu-btn i {
    display: none;
}

/* Presentacion */
.presentacion {
    height: 575px;
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    font-family: 'Bebas Neue', cursive;
}

.presentacion .col1presentacion {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 90px;
    margin-top: 90px;
    height: 500px;
}

.presentacion .col1presentacion h1 {
    font-size: 48px;
}

/* Boton */
.presentacion .col1presentacion .texto button {
    border: none;
    color: white;
    background-color: #22B6D5;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.5s;
    cursor: pointer;

}

.presentacion.col2presentacion {
    height: 300px;
}

.presentacion .col2presentacion .img img {
    height: 600px;
    transform: translateX(-250px);
    margin-top: 80px;


}

.presentacion .col2presentacion .fondo {

    height: 300px;
    border-left: 220px solid transparent;
    border-bottom: 600px solid #DEE1E6;
    z-index: 1;
}

/* Servicios */
.servicios {
    height: 600px;
    width: 100%;
    background-color: #151A28;


}

.servicios .fil1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    display: flex;
    justify-content: center;
    padding: 6em;
    z-index: 10;
    margin-top: 25px;

}

.servicios .fil1 .cuadrado {
    height: 260px;
    width: 280px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5%;
    color: white;
    padding: 1em;
    margin: 1em;

}

.servicios .fil1 .cuadrado .textcuadrado {
    margin-left: 1.5em;
}

.servicios .fil1 .cuadrado h3 {
    margin-bottom: 1em;

    color: #22B6D5;
}

.servicios .fil1 .cuadrado p {
    margin-bottom: 1em;

}

.servicios .fil1 .cuadrado .circulo {
    border-radius: 50%;
    background-color: #22B6D5;
    height: 40px;
    width: 40px;
    display: grid;
    align-items: center;
    margin-top: 1em;



}

.servicios .fil1 .cuadrado i {
    width: 60px;
    color: whitesmoke;
    padding: 5px;
    transform: translateX(5px);


}

.servicios .fil2 {
    display: flex;
    text-align: center;
    justify-content: center;
    color: whitesmoke;
    transform: translateY(-50px);
}

/* Consulta */
.consulta {
    height: 280px;
    width: 100%;
    background-color: white;
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-family: 'Bebas Neue', cursive;

}

.consulta h1 {
    font-size: 36px;
}

.consulta p {
    transform: translateY(-30px);
}

.consulta .col1consulta {
    display: grid;

    justify-content: center;
}

.consulta .recconsulta {
    height: 75px;
    width: 350px;
    background-color: #64BFB0;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 24px;
}

/* Que ofrecemos */
.fondo2 {
    height: 180px;
    background-color: #0E1621;
    color: whitesmoke;
}

.fondo2 .textofrecemos {
    display: grid;

    padding-left: 6em;
}

.fondo2 h1 {
    font-family: 'Bebas Neue', cursive;
    transform: translateY(30px);

}

.fondo2 p {
    font-family: 'Bebas Neue', cursive;
    ;
}

/* Recuadros */
.recuadros {
    height: 700px;
    width: 100%;
    background-color: #1E2738;
}

.recuadros .fila1container{
    
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 2em;
   gap: 2em;
     
}

.recuadros .fila2container{
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    gap: 2em;
      
 }

.recuadros .recuadrocuadrado {
    height: 225px;
    width: 225px;
    background-color: rgba(222,225,230,0.6);
    border-radius: 5%;
    
   
   

}